#calculator{
    background-color: #273a63;
    width:450px;
    height: 450px;
    color: #fff;
    padding: 55px;
    padding-top: 30px;
    border-style: none;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    

}
input{
    float:right;
    clear: both;
    width: 125px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}
p{
    font-size: 40px;
}
#addup{
    background-color: #cc0000;
    border-style: none;
    border-radius: 10px;
    width: 220px;
    height: 45px;
    color:#fff;
    font-size: 30px;
    margin-right: 120px;
}
h1{
    font-size: 65px;
    text-align: center;
    color:#1f80c9;
} 
#perc {
    color: #cd5c5c;
}